[Unit]
Description=Every 2 hours sync appendix tmux status JSON

[Timer]
OnBootSec=5m
OnUnitActiveSec=2h
Persistent=true
Unit=moe-appendix-status-sync.service

[Install]
WantedBy=timers.target
